In [2]:
import pandas as pd
# from URL
dfs = pd.read_html("https://docs.google.com/spreadsheets/d/e/2PACX-1vQlEs3FxFPwm-dpvU1YdsfRgsbfT9WdiXJHZm9kJgGTziPnk-y3TWtftbSbxj6Fe_g0NxYgqyVHTVU5/pubhtml?gid=1397577608&amp;single=true&amp;widget=true&amp;headers=false")
df =dfs[0]
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1,retrived_at,province_id,city,state,country,pollution_aqi,polution_main,weather_tp,weather_pr,weather_hu,weather_ws,weather_wd
1,2,4/29/2023 15:15:27,TH-10,Phra Nakhon,Bangkok,Thailand,86,p2,36,1005,37,5.64,166
2,3,4/29/2023 15:15:58,TH-11,Bang Phli,Samut Prakan,Thailand,73,p2,36,1006,55,6.17,190
3,4,4/29/2023 15:16:29,TH-12,Mueang Nonthaburi,Nonthaburi,Thailand,85,p2,37,1005,44,4.12,190
4,5,4/29/2023 15:17:00,TH-13,Khlong Luang,Pathum Thani,Thailand,74,p2,37,1005,54,4.12,190

In [10]:
import pandas as pd
# from URL
dfs = pd.read_html("https://docs.google.com/spreadsheets/d/e/2PACX-1vQlEs3FxFPwm-dpvU1YdsfRgsbfT9WdiXJHZm9kJgGTziPnk-y3TWtftbSbxj6Fe_g0NxYgqyVHTVU5/pubhtml?gid=1397577608&amp;single=true&amp;widget=true&amp;headers=false", 
                 header=[1])

In [11]:
df = dfs[0]
df.head()

,1,retrived_at,province_id,city,state,country,pollution_aqi,polution_main,weather_tp,weather_pr,weather_hu,weather_ws,weather_wd
0,2,4/27/2023 9:15:27,TH-10,Phra Nakhon,Bangkok,Thailand,105,p2,31,1011,57,0.63,135
1,3,4/27/2023 9:15:58,TH-11,Bang Phli,Samut Prakan,Thailand,135,p2,30,1011,74,1.03,0
2,4,4/27/2023 9:16:29,TH-12,Mueang Nonthaburi,Nonthaburi,Thailand,135,p2,31,1012,63,1.03,0
3,5,4/27/2023 9:17:01,TH-13,Khlong Luang,Pathum Thani,Thailand,128,p2,31,1012,75,1.03,0
4,6,4/27/2023 9:17:31,TH-14,Ayutthaya,Phra Nakhon Si Ayutthaya,Thailand,147,p2,29,1011,57,0.79,110

In [12]:
df.drop(df.columns[0], axis = 1, inplace=True)
df.head()

,retrived_at,province_id,city,state,country,pollution_aqi,polution_main,weather_tp,weather_pr,weather_hu,weather_ws,weather_wd
0,4/27/2023 9:15:27,TH-10,Phra Nakhon,Bangkok,Thailand,105,p2,31,1011,57,0.63,135
1,4/27/2023 9:15:58,TH-11,Bang Phli,Samut Prakan,Thailand,135,p2,30,1011,74,1.03,0
2,4/27/2023 9:16:29,TH-12,Mueang Nonthaburi,Nonthaburi,Thailand,135,p2,31,1012,63,1.03,0
3,4/27/2023 9:17:01,TH-13,Khlong Luang,Pathum Thani,Thailand,128,p2,31,1012,75,1.03,0
4,4/27/2023 9:17:31,TH-14,Ayutthaya,Phra Nakhon Si Ayutthaya,Thailand,147,p2,29,1011,57,0.79,110

In [13]:
df.to_csv('df.csv', index=False)